/* Empty. Add your own CSS if you like */
.grid_pedido_row {
    border-bottom:1px solid gray;
    padding:16px;
}
.grid_pedido_header, .grid_pedido_footer {
   font-weight: bold;
}
.grid_pedido_preco {
   text-align: right;
}