<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        xmlns:android = "http://schemas.android.com/apk/res/android"
        id        = "com.phonegap.queropizza"
        version   = "1.0.1"
        versionCode="101"
>
    <name>Quero Pizza</name>
    <description>Quero Pizza</description>
    <author href="https://multidadosti.com.br" email="rudi.feijo@multidadosti.com.br">Multidados TI</author>
    
    <access origin="*"/>
        
    <gap:plugin name="org.apache.cordova.network-information" version="0.2.12" />
</widget>
