<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        xmlns:android = "http://schemas.android.com/apk/res/android"
        id        = "com.phonegap.queropizza"
        version   = "0.0.1"
        versionCode="001"
>
    <name>
        Quero Pizza
    </name>

    <description>
        Quero Pizza
    </description>

    <author href="https://multidadosti.com.br" email="rudi.feijo@multidadosti.com.br">
        Multidados TI
    </author>
    <access origin="*"/>

    <gap:plugin name="nl.x-services.plugins.socialsharing" version="4.3.8" />
    <gap:plugin name="org.apache.cordova.network-information" version="0.2.3" />
    <gap:plugin name="org.apache.cordova.camera" version="0.3.2" />
    
    <gap:plugin name="nl.x-services.plugins.toast" version="2.0.2" />
    <gap:plugin name="com.adobe.plugins.gaplugin" version="2.4.0" />
    <gap:plugin name="com.phonegap.plugins.pushplugin" version="2.4.0" />    
    <gap:plugin name="org.apache.cordova.media-capture" version="0.3.3" />
    <gap:plugin name="org.apache.cordova.file" version="1.3.1" />
    <gap:plugin name="org.apache.cordova.file-transfer" version="0.4.6" />
    <gap:plugin name="org.apache.cordova.geolocation" version="0.3.10" />
    <gap:plugin name="org.apache.cordova.dialogs" version="0.2.10" />
    <gap:plugin name="org.apache.cordova.vibration" version="0.3.11" />
    <gap:plugin name="org.apache.cordova.splashscreen" version="0.3.4" />
    <gap:plugin name="org.apache.cordova.device-orientation" version="0.3.9" />
    <gap:plugin name="org.apache.cordova.device-motion" version="0.2.10" />
    <gap:plugin name="org.apache.cordova.device" version="0.2.12" />
    <gap:plugin name="org.apache.cordova.contacts" version="0.2.13" />
    <gap:plugin name="org.apache.cordova.console" version="0.2.11" />
    
    <gap:plugin name="com.phonegap.plugins.facebookconnect" version="0.9.0">
        <param name="APP_ID" value="990086001006707" />
        <param name="APP_NAME" value="cp" />
    </gap:plugin>

    <!-- <feature name="http://api.phonegap.com/1.0/battery"/> -->
    <feature name="http://api.phonegap.com/1.0/camera"/>
    <!-- <feature name="http://api.phonegap.com/1.0/contacts"/> -->
    <feature name="http://api.phonegap.com/1.0/file"/>
    <!-- <feature name="http://api.phonegap.com/1.0/geolocation"/> -->
    <!-- <feature name="http://api.phonegap.com/1.0/media"/> -->
    <feature name="http://api.phonegap.com/1.0/network"/>
    <feature name="http://api.phonegap.com/1.0/notification"/>
    
    <!-- unpaginated, leftToRight, topToBottom, bottomToTop, rightToLeft -->
    <feature name='Geolocation'>
        <param name='ios-package' value='CDVLocation'/>
    </feature>
    <feature name='Device'>
        <param name='ios-package' value='CDVDevice'/>
    </feature>
    <feature name='Accelerometer'>
        <param name='ios-package' value='CDVAccelerometer'/>
    </feature>
    <feature name='Compass'>
        <param name='ios-package' value='CDVLocation'/>
    </feature>
    <feature name='Media'>
        <param name='ios-package' value='CDVSound'/>
    </feature>
    <feature name='Camera'>
        <param name='ios-package' value='CDVCamera'/>
    </feature>
    <feature name='Contacts'>
        <param name='ios-package' value='CDVContacts'/>
    </feature>
    <feature name='File'>
        <param name='ios-package' value='CDVFile'/>
    </feature>
    <feature name='NetworkStatus'>
        <param name='ios-package' value='CDVConnection'/>
    </feature>
    <feature name='FileTransfer'>
        <param name='ios-package' value='CDVFileTransfer'/>
    </feature>
    <feature name='Capture'>
        <param name='ios-package' value='CDVCapture'/>
    </feature>
    <feature name='Battery'>
        <param name='ios-package' value='CDVBattery'/>
    </feature>
    <feature name='SplashScreen'>
        <param name='ios-package' value='CDVSplashScreen'/>
    </feature>
    <feature name='Echo'>
        <param name='ios-package' value='CDVEcho'/>
    </feature>
    <feature name='Globalization'>
        <param name='ios-package' value='CDVGlobalization'/>
    </feature>
    <feature name='InAppBrowser'>
        <param name='ios-package' value='CDVInAppBrowser'/>
    </feature>
    <feature name='Logger'>
        <param name='ios-package' value='CDVLogger'/>
    </feature>
    <feature name='LocalStorage'>
        <param value='CDVLocalStorage' name='ios-package'/>
    </feature>
    
    <preference value='true' name='AllowInlineMediaPlayback'/>
    <preference value='false' name='MediaPlaybackRequiresUserAction'/>
    <preference value='true' name='OpenAllWhitelistURLsInWebView'/>
    
    <preference value='true' name='AutoHideSplashScreen'/>
    <preference value='cloud' name='BackupWebStorage'/>
    <preference value='false' name='DisallowOverscroll'/>
    <preference value='false' name='EnableViewportScale'/>
    <preference value='true' name='FadeSplashScreen'/>
    <preference value='.25' name='FadeSplashScreenDuration'/>
    <preference value='false' name='HideKeyboardFormAccessoryBar'/>
    <preference value='true' name='KeyboardDisplayRequiresUserAction'/>
    <preference value='false' name='KeyboardShrinksView'/>
    <preference value='true' name='ShowSplashScreenSpinner'/>
    <preference value='false' name='SuppressesIncrementalRendering'/>
    <preference value='gray' name='TopActivityIndicator'/>
    <preference value='0' name='GapBetweenPages'/>
    <preference value='0' name='PageLength'/>
    <preference value='page' name='PaginationBreakingMode'/>
    <!-- page, column -->
    <preference value='unpaginated' name='PaginationMode'/>
	
    <gap:plugin name="com.phonegap.plugin.statusbar" />
	
    <preference name="StatusBarOverlaysWebView" value="true"/>
    <preference name="StatusBarBackgroundColor" value="#EAEAEA" />
    <preference name="stay-in-webview" value="true" />

    <icon src="icon.png" />

    <icon src="img/icon57-57.png" gap:platform="ios" width="57" height="57" />	
    <icon src="img/icon72-72.png" gap:platform="ios" width="72" height="72" />
    <icon src="img/icon76-76.png" gap:platform="ios" width="76" height="76" />
    <icon src="img/icon120-120.png" gap:platform="ios" width="120" height="120" />
    <icon src="img/icon152-152.png" gap:platform="ios" width="152" height="152" />
    <icon src="img/icon114-114.png" gap:platform="ios" width="114" height="114" />
    <icon src="img/icon144-144.png" gap:platform="ios" width="144" height="144" />
	
    <gap:splash src="splash.png" />
    <gap:splash src="splash.png" gap:platform="ios"/>
    <gap:splash src="splash.png" gap:platform="android"/>
    <gap:splash src="splash.jpg" gap:platform="winphone" />
   
    <gap:splash src="img/splash320-480.png" gap:platform="ios" width="320" height="480" />
    <gap:splash src="img/splash640-960.png" gap:platform="ios" width="640" height="960" />
    <gap:splash src="img/splash640-1136.png" gap:platform="ios" width="640" height="1136" />
    <gap:splash src="img/splash768-1024.png" gap:platform="ios" width="768" height="1024" />
    <gap:splash src="img/splash1024-768.png" gap:platform="ios" width="1024" height="768" />

</widget>