<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        xmlns:android = "http://schemas.android.com/apk/res/android"
        id        = "com.phonegap.queropizza"
        version   = "0.0.5"
        versionCode="005"
>
    
    <!-- rudi 07/10/2015 a versao mais nova (5.2) do cordova crashava no android em qqer tentativa de carregar recursos externos (js, etc)-->
    <!-- forçando versao antiga -->
    <!-- rudi 13/10/2015 : <preference name="phonegap-version" value="cli-5.2.0" /> -->
    <!-- <preference name="phonegap-version" value="3.7.0" /> -->
    <preference name="phonegap-version" value="cli-5.2.0" />
    <!-- rudi 9/10/2015 webview novo : <gap:plugin name="org.crosswalk.engine" version="1.3.0" source="pgb" /> -->
    <gap:plugin name="org.crosswalk.engine" version="1.3.0" source="pgb" />

    <!-- rudi 14/10/2015 setar versao minima do sdk do android para backward compat (android 2.3+)) -->
    <preference name="android-minSdkVersion" value="10" />
    
    <name>Quero Pizza</name>
    
    <description>Quero Pizza</description>
    
    <author href="https://multidadosti.com.br" email="rudi.feijo@multidadosti.com.br">Multidados TI</author>
    
    <access origin="*" />
    
    <!-- rudi 9/10/2015 precisa desse plugin de whitelist e essas configs pra funcionar no pgb 5.2+  -->
    <gap:plugin name="cordova-plugin-whitelist" version="1.0.0" source="npm" />
    <allow-navigation href="http://*/*" />
    <allow-navigation href="https://*/*" />
    <allow-navigation href="ftp://*/*" />
    <allow-navigation href="data:*" />
    <allow-intent href="*" /> 

    <gap:plugin name="org.apache.cordova.inappbrowser" source="npm" />
    <gap:plugin name="com.phonegap.plugins.pushplugin" version="2.4.0" />
    <gap:plugin name="org.apache.cordova.geolocation" source="npm" />
    
    <gap:plugin name="com.phonegap.plugin.statusbar" version="1.1.0" /> 
    <feature name="StatusBar">
        <param name="ios-package" value="CDVStatusBar" onload="true" />
    </feature>
    <preference name="stay-in-webview" value="true" />
     
    <gap:plugin name="org.apache.cordova.dialogs" source="npm" />
    <feature name="Vibration">
        <param name="android-package" value="org.apache.cordova.vibration.Vibration" />
    </feature>
    <feature name="Notification">
        <param name="ios-package" value="CDVNotification" />
        <param name="android-package" value="org.apache.cordova.dialogs.Notification" />
    </feature>
     
    <gap:plugin name="org.apache.cordova.network-information" source="npm" />
    <feature name="NetworkStatus" value="NetworkStatus">
        <param name="android-package" value="org.apache.cordova.networkinformation.NetworkManager" />
        <param name="ios-package" value="CDVConnection" />
    </feature>
    
    <gap:plugin name="org.apache.cordova.splashscreen" source="npm" />
    <feature name="SplashScreen" value="SplashScreen">
        <param name="android-package" value="org.apache.cordova.splashscreen.SplashScreen" />
        <param name="ios-package" value="CDVSplashScreen" />
    </feature>
    <preference name="AutoHideSplashScreen" value="false" />
    <preference name="SplashScreenDelay" value="20000" />
    <!--
    <preference name="SplashScreen" value="splash" />
    <preference value='true' name='FadeSplashScreen'/>
    <preference value='.25' name='FadeSplashScreenDuration'/>
    <preference value='true' name='ShowSplashScreenSpinner'/>
    -->
    
    <!--
    <gap:plugin name="de.appplant.cordova.plugin.hidden-statusbar-overlay" version="1.2.0" />
    
    <gap:plugin name="org.apache.cordova.network-information" version="0.2.12" />
    <gap:plugin name="org.apache.cordova.camera" version="0.3.2" />
    
    <gap:plugin name="org.apache.cordova.media-capture" version="0.3.3" />
    <gap:plugin name="org.apache.cordova.file" version="1.3.1" />
    <gap:plugin name="org.apache.cordova.file-transfer" version="0.4.6" />
    <gap:plugin name="org.apache.cordova.dialogs" version="0.2.10" />
    <gap:plugin name="org.apache.cordova.vibration" version="0.3.11" />
    
    <gap:plugin name="org.apache.cordova.device-orientation" version="0.3.9" />
    <gap:plugin name="org.apache.cordova.device-motion" version="0.2.10" />
    <gap:plugin name="org.apache.cordova.device" version="0.2.12" />

    <gap:plugin name="org.apache.cordova.geolocation" version="0.3.10" />
    <gap:plugin name="org.apache.cordova.contacts" version="0.2.13" />
    <gap:plugin name="org.apache.cordova.console" version="0.2.11" />
    
    <feature name='Device'>        
        <param name='ios-package' value='CDVDevice'/>    
    </feature>
    <feature name='Accelerometer'>        
        <param name='ios-package' value='CDVAccelerometer'/>    
    </feature>
    <feature name='Compass'>        
        <param name='ios-package' value='CDVLocation'/>    
    </feature>
    <feature name='Media'>        
        <param name='ios-package' value='CDVSound'/>    
    </feature>
    <feature name='Camera'>        
        <param name='ios-package' value='CDVCamera'/>    
    </feature>
    <feature name='Contacts'>        
        <param name='ios-package' value='CDVContacts'/>    
    </feature>
    <feature name='File'>        
        <param name='ios-package' value='CDVFile'/>    
    </feature>
    <feature name='FileTransfer'>        
        <param name='ios-package' value='CDVFileTransfer'/>    
    </feature>
    <feature name='Capture'>        
        <param name='ios-package' value='CDVCapture'/>    
    </feature>
    <feature name='Battery'>        
        <param name='ios-package' value='CDVBattery'/>    
    </feature>
    <feature name='Echo'>        
        <param name='ios-package' value='CDVEcho'/>    
    </feature>
    -->
    <feature name='Globalization'>        
        <param name='ios-package' value='CDVGlobalization'/>    
    </feature>
    <feature name='InAppBrowser'>        
        <param name='ios-package' value='CDVInAppBrowser'/>    
    </feature>
    <feature name='Logger'>        
        <param name='ios-package' value='CDVLogger'/>    
    </feature>
    <feature name='LocalStorage'>        
        <param value='CDVLocalStorage' name='ios-package'/>    
    </feature>
    <feature name='Geolocation'>
        <param name='ios-package' value='CDVLocation'/>    
    </feature>
    
    <preference value='true' name='AllowInlineMediaPlayback'/>
    <preference value='false' name='MediaPlaybackRequiresUserAction'/>
    <preference value='true' name='OpenAllWhitelistURLsInWebView'/>
    
    <preference value='cloud' name='BackupWebStorage'/>
    <preference value='false' name='DisallowOverscroll'/>
    <preference value='false' name='EnableViewportScale'/>
    <preference value='false' name='HideKeyboardFormAccessoryBar'/>
    <preference value='true' name='KeyboardDisplayRequiresUserAction'/>
    <preference value='false' name='KeyboardShrinksView'/>
    <preference value='false' name='SuppressesIncrementalRendering'/>
    <preference value='gray' name='TopActivityIndicator'/>
    <preference value='0' name='GapBetweenPages'/>
    <preference value='0' name='PageLength'/>
    <preference value='page' name='PaginationBreakingMode'/>
    <!-- page, column -->
    <preference value='unpaginated' name='PaginationMode'/>
		

    <icon src="app_res/images/icons/icon.png" />
    <!-- iPhone 6 / 6+ -->
    <icon src="app_res/images/icons/ios/icon_180x180.png" gap:platform="ios" width="180" height="180" />

    <!-- iPhone / iPod Touch  -->
    <icon src="app_res/images/icons/ios/icon_60x60.png" gap:platform="ios" width="60" height="60" />
    <icon src="app_res/images/icons/ios/icon_120x120.png" gap:platform="ios" width="120" height="120" />

    <!-- iPad -->
    <icon src="app_res/images/icons/ios/icon_76x76.png" gap:platform="ios" width="76" height="76" />
    <icon src="app_res/images/icons/ios/icon_152x152.png" gap:platform="ios" width="152" height="152" />

    <!-- Settings Icon -->
    <icon src="app_res/images/icons/ios/icon_29x29.png" gap:platform="ios" width="29" height="29" />
    <icon src="app_res/images/icons/ios/icon_58x58.png" gap:platform="ios" width="58" height="58" />

    <!-- Spotlight Icon -->
    <icon src="app_res/images/icons/ios/icon_40x40.png" gap:platform="ios" width="40" height="40" />
    <icon src="app_res/images/icons/ios/icon_80x80.png" gap:platform="ios" width="80" height="80" />
    
    <!-- iPhone / iPod Touch -->
    <icon src="app_res/images/icons/ios/icon_57x57.png" gap:platform="ios" width="57" height="57" />
    <icon src="app_res/images/icons/ios/icon_114x114.png" gap:platform="ios" width="114" height="114" />

    <!-- iPad -->
    <icon src="app_res/images/icons/ios/icon_72x72.png" gap:platform="ios" width="72" height="72" />
    <icon src="app_res/images/icons/ios/icon_144x144.png" gap:platform="ios" width="144" height="144" />

    <!-- iPad Spotlight and Settings Icon -->
    <icon src="app_res/images/icons/ios/icon_50x50.png" gap:platform="ios" width="50" height="50" />
    <icon src="app_res/images/icons/ios/icon_100x100.png" gap:platform="ios" width="100" height="100" />
    
    <!-- Andoid icons -->
    <!-- 36x36 -->
    <icon src="app_res/images/icons/android/icon_36x36.png" gap:platform="android" gap:qualifier="ldpi" />
    <!-- 48x48 -->
    <icon src="app_res/images/icons/android/icon_48x48.png" gap:platform="android" gap:qualifier="mdpi" />
    <!-- 72x72 -->
    <icon src="app_res/images/icons/android/icon_72x72.png" gap:platform="android" gap:qualifier="hdpi" />
    <!-- 96x96 -->
    <icon src="app_res/images/icons/android/icon_96x96.png" gap:platform="android" gap:qualifier="xhdpi" />
    <!-- 144x144 -->
    <icon src="app_res/images/icons/android/icon_144x144.png" gap:platform="android" gap:qualifier="xxhdpi" />
   
    <!-- Windows Phone icons -->
    <icon src="app_res/images/icons/wp/icon.png" gap:platform="winphone" />
    
    <!-- default splash -->
    <gap:splash src="app_res/images/splashes/splash-port.png" />
    
    <!-- iPhone and iPod touch -->
    <gap:splash src="app_res/images/splashes/ios/splash_320x480.png" gap:platform="ios" width="320" height="480" />
    <gap:splash src="app_res/images/splashes/ios/splash_640x960.png" gap:platform="ios" width="640" height="960" />

    <!-- iPhone 5 / iPod Touch (5th Generation) -->
    <gap:splash src="app_res/images/splashes/ios/splash_640x1136.png" gap:platform="ios" width="640" height="1136" />

    <!-- iPhone 6 -->
    <gap:splash src="app_res/images/splashes/ios/splash_750x1334.png" gap:platform="ios" width="750" height="1334" />
    <gap:splash src="app_res/images/splashes/ios/splash_1242x2208.png" gap:platform="ios" width="1242" height="2208" />
    <gap:splash src="app_res/images/splashes/ios/splash_2208x1242.png" gap:platform="ios" width="2208" height="1242" />

    <!-- iPad -->
    <gap:splash src="app_res/images/splashes/ios/splash_768x1024.png" gap:platform="ios" width="768" height="1024" />
    <gap:splash src="app_res/images/splashes/ios/splash_1024x768.png" gap:platform="ios" width="1024" height="768" />

    <!-- Retina iPad -->
    <gap:splash src="app_res/images/splashes/ios/splash_1536x2048.png" gap:platform="ios" width="1536" height="2048" />
    <gap:splash src="app_res/images/splashes/ios/splash_2048x1536.png" gap:platform="ios" width="2048" height="1536" />
	
    <!-- Android splashes -->
    <!-- 200x320 -->
    <gap:splash src="app_res/images/splashes/android/splash_200x320.png" gap:platform="android" gap:qualifier="port-ldpi" />
    <!-- 320x480 -->
    <gap:splash src="app_res/images/splashes/android/splash_320x480.png" gap:platform="android" gap:qualifier="port-mdpi" />
    <!-- 480x800 -->
    <gap:splash src="app_res/images/splashes/android/splash_480x800.png" gap:platform="android" gap:qualifier="port-hdpi" />
    <!-- 720px1280 -->
    <gap:splash src="app_res/images/splashes/android/splash_720x1280.png" gap:platform="android" gap:qualifier="port-xhdpi" />
    <!-- 960px1600 -->
    <gap:splash src="app_res/images/splashes/android/splash_960x1600.png" gap:platform="android" gap:qualifier="port-xxhdpi" />
    <!-- 1280px1920 -->
    <gap:splash src="app_res/images/splashes/android/splash_1280x1920.png" gap:platform="android" gap:qualifier="port-xxxhdpi" />
    <!-- 320x200 -->
    <gap:splash src="app_res/images/splashes/android/splash_320x200.png" gap:platform="android" gap:qualifier="land-ldpi" />
    <!-- 480x320 -->
    <gap:splash src="app_res/images/splashes/android/splash_480x320.png" gap:platform="android" gap:qualifier="land-mdpi" />
    <!-- 800x480 -->
    <gap:splash src="app_res/images/splashes/android/splash_800x480.png" gap:platform="android" gap:qualifier="land-hdpi" />
    <!-- 1280x720 -->
    <gap:splash src="app_res/images/splashes/android/splash_1280x720.png" gap:platform="android" gap:qualifier="land-xhdpi" />
    <!-- 1600x960 -->
    <gap:splash src="app_res/images/splashes/android/splash_1600x960.png" gap:platform="android" gap:qualifier="land-xxhdpi" />
    <!-- 1920x1280 -->
    <gap:splash src="app_res/images/splashes/android/splash_1920x1280.png" gap:platform="android" gap:qualifier="land-xxxhdpi" />
	
    <!-- Windows Phone splashes -->
    <gap:splash src="app_res/images/splashes/wp/splash.jpg" gap:platform="winphone" />

</widget>
